h1 {
font-family: 'Varela Round', sans-serif;
}
body {
text-align: center;
background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
p {
font-family: 'Girassol', cursive;
font-size: 25px;
}
div {
margin-top: 15px;
}
.image-section {
display: flex;
justify-content: center
}
.section-style {
margin-right: 25px;
margin-left: 25px;
background-color: white
}
img {
widows: 300px;
}